# Dependencias de Node.js
node_modules/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos generados
dist/
build/

# Configuración del editor
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db